<header>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-ligth">
        <a href="/" class="navbar-brand">EJS</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/" class="ref">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/sobre" class="">About</a></li>
        </ul>
    </nav>
    <p>Pagina: <%= typeof pagina != 'undefined' ? Pagina: 'Home'%> </p> 
</header>